<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>送信が完了しました</h3>
      <div>内容は以下の通りです。</div>

      <h5>[Title]</h5>
      <p><%= @title %></p>
      <h5>[Content]</h5>
      <p><%= @body %></p>
    </div>
  </div>
</div>